*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    /* background-color: #d4d4d4; */
}
header{
    position: sticky;
    top: 0;
    left: 0;
}
header ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    line-height: 4rem;
    border: black solid 1px;
    background-color: #e7e7e7;

    
}
header li{
    width: 100%;
    list-style: none;
    padding-left:auto;
    text-align: center;
    align-self: center;


}
header li:hover{
    background-color: rgb(75, 75, 75);
    border: white 2px solid;
}
header li a:hover{
    color: white;
}
header a{
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.activ{
    background-color: black;
    border: white 2px solid;
    transition: 0.4s;
}
.activ a{
    color: white;
    transition: 0.4s;
}
main{
    width: 80%;
    margin: auto;
}
.maintitle{
    font-family: 'Comic Neue', cursive;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
#maintitle h1{
    padding: 0.3em 0 0.3em 0;
   font-weight: 600;
}
#maintitle p{
    font-style: italic;
}
.imageacc{
    display: flex;
    justify-content: center;
}
#title_2{
    padding-bottom: 5%;
}
.pres_general{
    padding: 5em 0 5em 0;
}
.pres_p{
    padding-top: 3em;
    padding-left: 2em;
    line-height: 2em;
}
.date{
    font-weight: 700;
    font-size: 20px;
}
/* Activités */
.activities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    text-align: center;
    padding: 5em 0 5em 0;

}
.activities img{
    width: 80%;
    height: auto;
    padding: 3rem 0 3rem 0;

}
#crea{
    color:#E71A7A ;
    border: 1px solid #E71A7A ;
    border-radius: 10px;
    margin: 0 5em 0 5em;
    line-height: 2em;

}
#formation{
    color: #458FBE;
    border: 1px solid #458FBE ;
    border-radius: 10px;
    margin: 0 5em 0 5em;
    line-height: 2em;
}
#conseil_act{
    color: #98B72F;
    border: 1px solid #98B72F ;
    border-radius: 10px;
    margin: 0 5em 0 5em;
    line-height: 2em;
}
.activities p{
margin: 0 4em 0 4em;
}
#diffact{
    padding: 2em 0;
}
.context{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10vh 0;
}
.context h2{
    padding-bottom: 4em;
}
.context p{
    line-height: 1.6em;
}
footer{
    width: 100%;
    background-color: black;
    color: #a1a1a1;
    line-height: 3em;
    text-align: center;
}