*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    /* background-color: #d4d4d4; */
}
.topnav{
    display: none;
}
header{
    position: sticky;
    top: 0;
    left: 0;
}
header ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    line-height: 4rem;
    border: black solid 1px;
    background-color: black;

    
}
header li{
    width: 100%;
    list-style: none;
    padding-left:auto;
    text-align: center;
    align-self: center;


}
header li:hover{
    background-color: #83178d;
    /* border: white 2px solid; */
}
header li a:hover{
    color: rgb(255, 255, 255);
}
header a{
    font-weight: 600;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.activ{
    background-color: #83178d;
    ;
    /* border: white 2px solid; */
    transition: 0.4s;
}
.activ a{
    color: white;
    transition: 0.4s;
}
main{
    width: 80%;
    margin: auto;
}
.maintitle{
    font-family: 'Comic Neue', cursive;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
#maintitle h1{
    padding: 0.3em 0 0.3em 0;
    font-weight: 600;
}
#maintitle p{
    font-style: italic;
}
.imageacc{
    width: 100%;
    display: flex;
    justify-content: center;
}
.imageacc img{
    width: 100%;
    max-width: 100vw;
}
#imglogo{
    width: 60%;
}
#title_2{
    padding-bottom: 5%;
}
.pres_general{
    padding: 5em 0 5em 0;
}
.pres_p{
    padding-top: 3em;
    padding-left: 2em;
    line-height: 2em;
}
.date{
    font-weight: 700;
    font-size: 20px;
}
/* Activités */
.activities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    text-align: center;
    padding: 5em 0 5em 0;

}
.activities img{
    width: 80%;
    height: auto;
    padding: 3rem 0 3rem 0;

}
#crea{
    color:#E71A7A ;
    border: 1px solid #E71A7A ;
    border-radius: 10px;
    margin: 0 5em 0 5em;
    line-height: 2em;

}
#formation{
    color: #458FBE;
    border: 1px solid #458FBE ;
    border-radius: 10px;
    margin: 0 5em 0 5em;
    line-height: 2em;
}
#conseil_act{
    color: #98B72F;
    border: 1px solid #98B72F ;
    border-radius: 10px;
    margin: 0 5em 0 5em;
    line-height: 2em;
}
.activities p{
margin: 0 4em 0 4em;
padding-bottom: 2em;
}
#diffact{
    padding: 5em 0 2em 0;
}
.context{

    padding: 10vh 0;
}
.context div{
    display: grid;
    grid-template-columns: 1fr 2fr;

}
.context h2{
    padding-bottom: 4em;
}
.context p{
    align-self: center;
    line-height: 1.6em;
    
}
#imgcontext{
  max-width: 80%;
  padding-left: 2em;
}
/* Maquettes */
.titreh1{
    font-family: 'Comic Neue', cursive;
    text-align: center;
    padding: 1em 0;
    font-size: 42px;
}
.maquette{
    text-align: center;

    
}

.maquette h2{
    padding: 2em;
}
.div_maquette a{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1em 2em;
    font-size: 20px;
    background-color: black;
    color: white;
}
.div_maquette a:hover, .div_maquette a:focus{
    color: #ee4fcb;
    border: solid 2px #ee4fcb;

}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .myModal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    position: fixed;
    background-color: #000000;
    margin: 7% 0 0 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    animation: modalitai 2s ;
    border-radius: 30px;
  }

  @keyframes modalitai {
    from {top:-200px; opacity:0}
    to {top:0; opacity:1}
      
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }

  /* Slider */
  .slider {
    width: 900px;
    height: 600px;
    margin: 100px auto 0;
    position: relative;

  }
  
  .cont-slides {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cont-slides img {
    width:30%;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  
    
  
  }
  .commandes {
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .commandes button {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .commandes img {
    width: 30px;
    position: relative;
  }
  .commandes button:nth-child(1){
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
  }
  .commandes button:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
  }
  .commandes button:nth-child(1) img {
    left: -4px;
  }
  .commandes button:nth-child(2) img {
    right: -4px;
  }
  
  .cercles {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cercle {
    width: 50px;
    height: 35%;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    outline: none;
    border: 1px solid #333;
  }
  
  .active-cercle {
    background: #ee4fcb;
  }
  .active {
    opacity: 1!important;
  }
  #videom{
    max-height: 90%;
    margin-left: 8%;
  }
  .modal-content2 {
    position: fixed;
    background-color: #000000;
    margin: 7% 0 0 10%; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    animation: modalitai 2s ;
    border-radius: 30px;
  }
.heart{
  margin-top: 5rem;
  overflow: hidden;
  height: 43vh;

}
.heart img{
  width: 100%;
}
.maquetto{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13vh;
  right: 15%;
}
.maquetto img{
  width: 100%;
  height: 10vh;
}
/* .maquetto::after{
  content: ' ';
  width: 45%;
  height: 3px;
  background-color: #ee4fcb;
 


} */
#brroz{
  width: 45%;
  margin: auto;
  position: relative;
  bottom: 20px;


}

/* Presentation Fonctionnelle */

#titru{
  padding: 0.5rem 0 3rem 0;

}
#titru hr{
  
  width: 45%;
  margin: auto;
}
.parkour img{
  width: 100%;
}
#btnsite{
  text-decoration: none;
  padding: 0.9rem 2rem;
  border: 2px solid black;
  color: orange;
  background-color: black;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  left: 8%;
  font-weight: 600;

}
#btnsite:hover, #btnsite:focus{
  border: 2px solid orange;
  color: black;
  background-color: orange;
}

/* Stratégie marketing */

.h2_perso{
  padding: 3em 0 2em 0;
  text-align: center;
}
.hrmark{
  width: 50%;
  margin: 20px auto;
  
}
.persona img{
  width: 100%;
  padding: 20px 0;
}
.objectif{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;

}
.objectif p{
  width: 30%;
  font-size: 18px;
  line-height: 1.7em;

}
.objectif img{
  width: 60%;
 
}
.connai{
  display: flex;
  justify-content: center;
}
.connai img{
  width: 100%;
}

/* Optimisation */

.optimg{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10% 0;
}
.optimg img{
  width: 20%;
}
.h2_Opti{
  padding: 10% 0 2% 0;
}
.hropt{
  width: 25%;
  margin: auto;
}
/* Synthese */
.synthese{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 15%;
  padding-bottom: 15%;
}
.synthese div{
  text-align: center;
  box-shadow: rgb(180, 180, 180) 10px 8px 0 0;
}
.synthese p{
  font-weight: 700;
  font-size: 20px;
  line-height: 2em;
  padding: 3em;
  color: white;
}
.verte{
  background-color: rgb(18, 90, 18);
  padding: 3em;
  border-radius: 25px;
}
.rouge{
  background-color: rgb(90, 23, 18);
  padding: 3em;
  border-radius: 25px;
}
.thxe{
  padding: 0 0 15% 0;
}
/* storyboard */
.story{
  padding: 10% 0;
  width: max-content;
  margin: auto;
}
#storyBoard{
  
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 1.6em 1em ;
  border-radius: 8px;
  transition-duration: 0.5s;
}
#storyBoard:hover{
  background-color: white;
  color: #000000;
}

/* Slider 2 */
.slider2 {
  width: 900px;
  height: 600px;
  margin: 100px auto 0;
  position: relative;
 background-color: #000000;
 border-radius: 25px;
 
}
.cont-slides2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-slides2 img {
  width:80%;
  height: auto;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  

}
.video{
  margin-top: 15%;
  display: flex;
  justify-content: center;
  background-color: #000000;
  padding: 3em;
  border-radius: 25px;
  margin-bottom: 10%;
}

/* fin Slider */

/* Supp de com */

.gabarit{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0 15% 0;
  
}
.gabarit p{
  font-size: 20px;
  line-height: 4em;
}
.gabarit img{
  width: 50%;
}
.verso p{
  text-align: center;
  font-size: 20px;
  padding-bottom: 10%;

}
.verso2{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.verso img{
  width: 40%;
}
.calques{
  width: 100%;
  padding: 10% 0 10% 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rectofly{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0 15% 0;
}
.rectofly p{
  font-size: 22px;
  line-height: 1.6em;
  font-weight: 700;
  border: 2px solid black;
  padding: 2em;
  box-shadow: rgb(99, 99, 99) 8px 8px ;
}
.rectofly img{
 width: 40%;
}
.calques p{
  max-width: 30%;
  font-size: 22px;
  line-height: 1.6em;
}
.flyers{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10%;
}
.flyers img{
  max-width:40%;
}
footer{
    width: 100%;
    background-color: black;
    color: #a1a1a1;
    line-height: 3em;
    text-align: center;

}
@media screen and (max-width:1400px) {
  
        #navfor{
            display: none;
        }
      
      .topnav {
        display: block;
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background-color: #821a9c;
         display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .active {
        background-color: #821a9c;
        color: white;
      }
      main{
          width: 95%;
      }
      .maintitle{
          font-size: 24px;
          max-width: 95%;
      }
      .activities{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
       } 
       .context div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr  1fr;
        width: 95%;
    }
    #imgcontext{
     width: 100%;
     order: -1;
    }
    .imageacc img{
        width: 100%;
    }
    #imglogo{
        width: 100%;
        padding-top: 20px;
    }
    /* Sliders */
    .slider {
      width: 80%;
      height: 250px;
      margin: 100px auto 0;
      position: relative;
  
    }
    .commandes button {
      position: absolute;
      width: 40px;
      height: 40px;
}
.commandes img {
  width: 10px;
  position: relative;
}   
.cont-slides img {
  width:80%;


  

}   
.commandes button:nth-child(1) {
  left: -40px;
}
.commandes button:nth-child(2) {
  right: -40px;
}
.modal-content{
  height: 70%;
}
.cercles {
  top: 150%;
}
.context p{
max-width: 80%;
padding-left: 3em;

  
}
.maquetto{
flex-direction: column;
position: relative;
top: auto;
right: auto
}
.objectif{
  flex-direction: column;
}
.objectif p{
  width: 90%;
}
.optimg{
  flex-direction: column;
  justify-content: center;
}
.synthese{
  flex-direction: column;
}
.slider2 {
  width: 100%;
  height: 600px;
  margin:  50% auto 90%;
  position: relative;
 background-color: #000000;
 border-radius: 25px;
 
}
}